<h2>Adicionar categoria</h2>
<hr />
<div class="card">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="nome">Nova categoria:</label>
        <input class="form-control" type="text" id="nome" name="nome" placeholder="Digite a categoria..." />
      </div>
      <div class="form-group">
        <label for="nome">Slug:</label>
        <input class="form-control" type="text" id="slug" name="slug" placeholder="Digite o slug..." />
      </div>
      <button type="submit" class="btn" style="background-color: #005293; color: #ffffff;">Adicionar</button>
    </form>
  </div>
</div>