<h2>Lista de categorias</h2>
<hr />
<div class="card">
  <div class="card-body">
    <a href="/admin/categorias/add-ategorias">
      <button type="button" class="btn" style="background-color: #005293; color: #ffffff;">Nova categoria</button>
    </a>
  </div>
</div>