<h2>Ãrea do administrador</h2>

<hr />

<a href="/admin/categorias">
  <button class="btn btn-sm btn-block col-2 mt-3" style="background-color: #005293; color: #ffffff;">Gerenciar
    categorias</button></a>

<a href="/admin/postagens">
  <button class="btn btn-sm btn-block col-2 mt-3" style="background-color: #005293; color: #ffffff;">Gerenciar postagens</button></a>