<h2>Lista de postagens</h2>
<hr />
{{! Cria o botão para adicionar uma nova categoria }}
<a href="/admin/postagens/addpostagem">
  <button type="button" class="btn" style="background-color: #005293; color: #ffffff;">Nova postagem</button>
</a>
<hr />