<h2>Login</h2>
<hr />

<div class="card">
  <div class="card-body">

    <form action="" method="POST">

      <label for="email">E-mail:</label>
      <input type="email" name="email" class="form-control" />

      <label for="senha">Senha:</label>
      <input type="password" name="senha" class="form-control" />

      <button type="submit" class="btn mt-3" style="background-color: #005293; color: #ffffff;">Entrar</button>

    </form>

  </div>
</div>