{{! Pagina de leitura de postagens }}

<h1>{{postagem.titulo}}</h1>
<small>Data de publicação: {{postagem.date}}</small>
<hr />
<div class="card mt-3">
  <div class="card-body">

    {{postagem.conteudo}}

  </div>
</div>
<hr />